 <footer class="page-footer font-small bg-dark pt-4">
    <div class="basPage">
      <div class="row">
        
        <div class="col-md-4 map">
         <a href="../images/planquartier.png" title="Voir le plan du quartier" target="_blank"><img src="../images/institutfaçade.png"  alt="façade" /></a>
        </div>

        <div class="col-md-4 text-center">
          <p>Nature et Beauté</p>
          <p>institutcorpsdesoie@ymail.com</p>
          <p>tél : 02 51 37 40 40 - Port : 07 69 37 11 54</p>
          <a href="https://fr-fr.facebook.com/InstitutCorpsDeSoie" title="FB" class="btn btn-sm btn-facebook"><i
              class="fa fa-facebook fa-fw"></i></a>
        </div>
        <div class="col-md-4 text-center">
          <p>Ouverture de l'institut</p>
          <p> le lundi de 14 h à 19 h<br>
            du mardi au vendredi de 9 h à 19 h<br>le samedi de 9 h à 13 h
          </p>                                                                                                                                                                 
        </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center copyright">
        <p>© 2019 Copyright : Institut Corps de Soie>
        <a href="/mentionsLegales">Mentions légales</a></p>
      </div>
    </div>
  </footer>