  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <img class="icone" src="../images/logoNatureEtBeaute2.jpg ">
      <a class="navbar-brand" href="/">Institut Corps de Soie </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#monMenu" aria-controls="monMenu"
        aria-label="navbar-toggler-icon">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse panier-img">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="/connexion">Connexion</a>
          <a class="nav-item nav-link" href="/prestations">Nous découvrir</a>
          <a class="nav-item nav-link" href="/creaProfil">S'inscrire</a>
          <a class="nav-item nav-link" href="/soins">Les soins</a>
          <a class="nav-item nav-link" href="/produits">Les produits</a>
          <a class="nav-item nav-link" href="/modifProfil">Modifier son profil</a>
          <a class="nav-item nav-link" href="/Se déconnecter">Se déconnecter</a>
          <a class="nav-item nav-link" href="/panier">
            <img src="../images/panierRose.png" alt="panier">
          </a>
          <div class="dropdown">
            <a class="btn btn-sm btn-secondary dropdown-toggle" href="/" role="button" id="dropdownMenuLink"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Réservé institut</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/stock">Gestion stock</a>
              <a class="dropdown-item" href="/creaProduit">Ajouter référence</a>
              <a class="dropdown-item" href="/baseClients">Clients</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>