<section class="pageAccueil">

    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <h1>Bienvenue chez </h1><br>
            <a href="/connexion"><img src="../images/logoNatureEtBeaute3.png"></a>
            <p>A deux pas de la place du théatre, <br> venez profiter d’ un moment unique de détente et de bien–être
            <br>dans une ambiance feutrée et chaleureuse.
            </p>
        </div>
    </div>

</section>

{{> footer}}