<!-- ===============================================================PAGE CONNEXION -->

<section class="section">
    <div class="pageFormulaire">
        <div class="row">
    <div class="container">
        <div class="formulaire">
            <h3>Connexion</h3>
            <form method="GET" action="/connexion">  
                <div class="form-group">
                    <input type="email" class="form-control" name="email" value=""
                        placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="mdp" placeholder="Mot de passe">
                </div>
                <button type="submit" style="margin-left: 5em" class="btn btn-sm btn-right">Se connecter</button>
                <a href="/nouvMdp" class="btn btn-sm btn-right">Mot de passe oublié ?</a>
            </form>
        </div>
    </div>
    </div>
    </div>
</section>