<section class="section">
    <div class="pageFormulaire">
        <div class="container">
            <div class="formulaire">
                <h3>Mise-à-jour de votre profil</h3>
                <form method="GET" action="/modifProfil">
                    <div class="form-group">
                        <input type="text" style="text-transform: uppercase;" class="form-control" name="nom"
                            placeholder="Nom">
                    </div>
                    <div class="form-group">

                        <input type="text" class="form-control" style="text-transform: uppercase;" name="prenom"
                            placeholder="Prénom">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" style="text-transform: lowercase;" name="email"
                            placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="tel" placeholder="Téléphone" min='10'
                            max="10">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="mdp" placeholder="Mot de passe">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-sm btn-right">Valider</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>