<section class="section">
  <div class="pageFormulaire">
    <div class="container">
      <div class="formulaire">
        <h3>Nouveau mot de passe</h3>
        <form method="PUT" action="/nouvMdp">
          <div class="form-group">
            <input type="password" class="form-control" name="nouvMdp1" placeholder="Mot de passe">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="nouvMdp2" placeholder="Validation du mot de passe">
          </div>
          <button href="/Connexion" type="submit" class="btn mt-5 btn-right">Valider</button>
        </form>
      </div>
    </div>
  </div>
</section>