<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 titrePrestations">
        <h3>Nos prestations</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Nos marques de référence</h3>
      </div>
      <div class="col-md-6">
        <h3>Nos soins</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img src="./images/mariaGalland/logo.png" class="img-responsive center-block" alt="logo mg">
        <p>Maria Galland innove depuis plus de 50 ans. <br>Une révolution permanente des soins de la peau.
      </p>
      </div>
      <div class="col-md-6">
            <img src="./images/logosisley.jpeg" class="img-responsive center-block" alt="logo2">
    <p>Sisley s'appuie sur la phyto-cosmétologie, pour le visage et le corps.
    </p>
      </div>
    </div>
<div class="row">
  <div class="col-md-6">
    <img src="./images/logosisley.jpeg" class="img-responsive center-block" alt="logo2">
    <p>Sisley s'appuie sur la phyto-cosmétologie, pour le visage et le corps.
    </p>
  </div>
  <div class="col-md-6">
      <figure class="figure">
          <img src="./images/institut/cabine2.jpg " class="figure-img img-fluid rounded" alt="...">
          <figcaption class="figure-caption text-center">Détente</figcaption>
        </figure>
      </div>
</div>
  
  <div class="row">
    <div class="col-md-6">
    <img src="./images/logobh.png" class="img-responsive center-block" alt="logo2">
    <p>BH Cosmetics pour des maquillages parfaits.
    </p>
    </div>
    <div class="col-md-6">
<figure class="figure">
        <img src="./images/fondZone/maquillage.jpg" class="figure-img img-fluid rounded" alt="...">
        <figcaption class="figure-caption text-center ">Maquillage</figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
<div class="col-md-6">
  <a href="#soins" class="btn btn-sm ml-10">Découvrir nos marques</a>
</div>
<div class="col-md-6">
  <a href="#soins" class="btn btn-sm ml-10">Connaître nos tarifs</a>
</div>

  </div>


{{!-- 
  src="./images/institut/soinVisage.jpg" Soins du visage
  src="./images/institut/massage.jpg"  Soins du corps --}}

  </div>
</section>