      <!-- ==========================AFFICHAGE PRODUIT A LA VENTE -->
      <section id="nosProduits">
        <div class="container-fluid nosProduits">
          <div class="row">
            <div class="col-md-12">
              <h2>Nos produits à la vente</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="card" style="width: 16rem;">
                <img src="./images/cremes/creme1.jpg " class="card-img-top" alt="Crème1">
                <div class="card-body">
                  <h5 class="card-title">Green</h5>
                  <h6 class="card-title">Crème de jour</h6>
                  <p class="card-text">Crème onctueuse.<br> En pot de 50 ml.</p>
                  <p class="prix"> 32.15 €</p>
                  <a href="#" class="btn">Panier</a>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card" style="width: 16rem;">
                <img src="./images/cremes/creme2.jpg " class="card-img-top" alt="Crème2">
                <div class="card-body">
                  <h5 class="card-title">Green</h5>
                  <h6 class="card-title">Crème de jour</h6>
                  <p class="card-text">Crème pour peaux mixtes.<br> En pot de 50 ml.</p>
                  <p class="prix"> 32.15 €</p>
                  <a href="#" class="btn">Panier</a>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card" style="width: 16rem;">
                <img src="./images/cremes/creme3.jpg " class="card-img-top" alt="Crème1">
                <div class="card-body">
                  <h5 class="card-title">Green</h5>
                  <h6 class="card-title">Crème de jour</h6>
                  <p class="card-text">Crème de nuit toutes peaux. <br>En pot de 50 ml.</p>
                  <p class="prix"> 32.15 €</p>
                  <a href="#" class="btn">Panier</a>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card" style="width: 16rem;">
                <img src="./images/cremes/creme4.jpg " class="card-img-top" alt="Crème1">
                <div class="card-body">
                  <h5 class="card-title">Bio Green</h5>
                  <h6 class="card-title">Crème de jour</h6>
                  <p class="card-text">Crème peaux mixtes. <br>En pot de 50 ml.</p>
                  <p class="prix"> 32.15 €</p>
                  <a href="#" class="btn">Panier</a>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card" style="width: 16rem;">
                <img src="./images/cremes/creme1.jpg " class="card-img-top" alt="Crème1">
                <div class="card-body">
                  <h5 class="card-title">Green</h5>
                  <h6 class="card-title">Crème de jour</h6>
                  <p class="card-text">Crème anti-désèchement. <br> En pot de 50 ml.</p>
                  <p class="prix"> 32.15 €</p>
                  <a href="#" class="btn">Panier</a>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card" style="width: 16rem;">
                <img src="./images/cremes/creme2.jpg " class="card-img-top" alt="Crème1">
                <div class="card-body">
                  <h5 class="card-title">Soft Green</h5>
                  <h6 class="card-title">Crème de jour</h6>
                  <p class="card-text">Une exclusitivé. <br> En pot de 50 ml.</p>
                  <p class="prix"> 62.15 €</p>
                  <a href="#" class="btn">Panier</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

