
      <section class="section">
        <div class="container soins">
           <h3>Notre offre de soins</h2>
         

        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-3">
                <div class="card" style="width: 16rem;">
                  <img src="./images/pageAcc/maquillage2.jpg " class="card-img-top" alt="maquillage">
                  <div class="card-body">
                    <h5 class="card-title">Maquillage</h5>
                    <div class="form-group">
                      <label for="Nature">Votre choix</label>
                      <select class="form-control" id="nature">
                        <option>Votre choix</option>
                        <option>Maquillage de jour 18 €</option>
                        <option>Maquillage du soir 25 €</option>
                        <option>Maquillage occasion particulière 35 €</option>
                      </select>
                    </div>
                    <a href="https://calendar.google.com/calendar?cid=Y29ycHNkZXNvaWVAZ21haWwuY29t" target=" blank"
                      class="btn">Choisissez l'horaire</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="card" style="width: 16rem;">
                  <img src="../images/pageAcc/soinCorps.jpg " class="card-img-top" alt="massage">
                  <div class="card-body">
                    <h5 class="card-title">Soins du corps</h5>
                    <div class="form-group">
                      <label for="Nature">Votre choix</label>
                      <select class="form-control" id="nature">
                        <option>Votre choix</option>
                        <option>Massage détente 48 €</option>
                        <option>Massage raffermissement 64 €</option>
                        <option>Massage à l'huile chaude 53 €</option>
                      </select>
                    </div>
                    <a href="https://calendar.google.com/calendar?cid=Y29ycHNkZXNvaWVAZ21haWwuY29t" target=" blank"
                      class="btn">Choisissez l'horaire</a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card" style="width: 16rem;">
                  <img src="../images/pageAcc/soinVisage.jpg " class="card-img-top" alt="soinVisage">
                  <div class="card-body">
                    <h5 class="card-title">Soins du visage</h5>
                    <div class="form-group">
                      <label for="Nature">Votre choix</label>
                      <select class="form-control" id="nature">
                        <option>Votre choix</option>
                        <option>Soin purifiant 56 €</option>
                        <option>Soin détoxifiant 64 € €</option>
                        <option>Soin anti-rides 75 €</option>
                      </select>
                    </div>
                    <a href="https://calendar.google.com/calendar?cid=Y29ycHNkZXNvaWVAZ21haWwuY29t" target=" blank"
                      class="btn">Choisissez l'horaire</a>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="card" style="width: 16rem;">
                  <img src="../images/pageAcc/manucure.jpg " class="card-img-top" alt="manucure">
                  <div class="card-body">
                    <h5 class="card-title">Manucure</h5>
                    <div class="form-group">
                      <label for="Nature">Votre choix</label>
                      <select class="form-control" id="nature">
                        <option>Votre choix</option>
                        <option>Pose de vernis 14 €</option>
                        <option>Vernis semi-permanent 25 €</option>
                        <option>vernis french-manucure 35 €</option>
                      </select>
                    </div>
                    <a href="https://calendar.google.com/calendar?cid=Y29ycHNkZXNvaWVAZ21haWwuY29t" target=" blank"
                      class="btn">Choisissez l'horaire</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
        </div>
        </div>
      </section>
